<form action="/add" method="POST">
    <p>Nome do carro: </p>
    <input type="text" name="nome">
    <p>cor: </p>
    <input type="text" name="cor">
    <button type="submiy">Cadastrar carro</button>
</form>