<h1> Lista de carro: </h1>

{{#each posts}}
    <small>{{createdAt}}</small>
    <h1>{{nome}}</h1>
    <p> {{cor}}</p>
    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <hr>
{{/each}}
  




